* {box-sizing:border-box;}

.screen {
  width:1920px;
  height:1080px;
  position:absolute;
  top:0;
  left:0;
  background:rgb(56,64,100);
  overflow: hidden;
}

.screen-background {
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
}

.layer {
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  pointer-events: none;
  transform-origin: center center;
  transition:all 600ms cubic-bezier(0.77, 0, 0.175, 1);
}

.layer > * {
  pointer-events: all;
}

.screen[data-view="interest"] .layer--interest {
  transform:scale(1.5);
}

.screen[data-view="interest"] .layer--topic {
  transform:scale(.5);
}

.bubble {
  position:absolute;
  width:300px;
  height:300px;
  margin:-150px;
  padding:30px;
  transform:translate(960px, 540px);
  transition:all 600ms cubic-bezier(0.77, 0, 0.175, 1);
}

.bubble-container {
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  transition:all 600ms cubic-bezier(0.77, 0, 0.175, 1);
}

.bubble-scale {
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  transform:scale(0);
  display: flex;
  justify-content: center;
  align-items: center;
  transition:all 600ms cubic-bezier(0.77, 0, 0.175, 1);
}

.bubble.visible .bubble-scale {
  transform:scale(1);
}

.bubble-background {
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  border-radius:3000px;
}

.bubble-inner {
  position:absolute;
  text-align:center;
  font-family:sans-serif;
  letter-spacing:1px;
  font-size:24px;
  z-index:100;
}




/* TOPIC */

.bubble--topic {
  transform:translate(960px, 540px);
}

.bubble--topic .bubble-background {
  /* background:#006e8c; */
}

.bubble--topic .bubble-inner {
  text-transform:uppercase;
  color:white;
  font-size:32px;
}


/* INTEREST */

.bubble--interest .bubble-background {
  background:#50e6c8;
  /* background:url(/img/interest2.svg) no-repeat center center / 100% auto; */
  z-index:10;
}

.bubble--interest .bubble-background-layer {
  display:block;
  top:0;
  left:0;
  bottom:0;
  right:0;
  position:absolute;
  margin:-20px;
  z-index:1;
  animation:rotate 23s linear infinite;
}

.bubble--interest .bubble-background-layer-1 {
  background:url(/img/interest1.svg) no-repeat center center / 100% auto;
  animation:rotate 26s linear reverse infinite;
}

.bubble--interest .bubble-background-layer-2 {
  background:url(/img/interest2.svg) no-repeat center center / 100% auto;
}

.screen[data-view="interest"] .bubble--interest.current {
  transform:translate(960px, 540px) !important;
}

.screen[data-view="interest"] .bubble--interest.current .bubble-scale {
  transform:scale(1) !important;
}

.screen[data-view="interest"] .bubble--interest:not(.current) {
  opacity:0;
  transform:scale(2);
}

.screen[data-view="interest"] .bubble--interest:not(.current) .bubble-container {

}

.bubble--interest .bubble-inner {
  color:white;
}

@keyframes rotate {
  0% { transform:rotate(0deg); }
  100% { transform:rotate(360deg); }
}
