* {
  box-sizing:border-box;
  user-select:none;
}

.screen {
  width:1920px;
  height:1080px;
  position:absolute;
  top:0;
  left:0;
  background:rgb(56,64,100);
  overflow: hidden;
}

.screen-background {
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
}



.eyes {
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  pointer-events: none;
}

.eye {
  position:absolute;
  background:transparent;
  pointer-events: all;
  z-index:1000;
}

.eye-top {
  right: 0;
  top: 0;
  left: 0;
  height: 50px;
}

.eye-bottom {
  right: 0;
  bottom: 0;
  left: 0;
  height: 50px;
}

.eye-left {left: 0;top: 0;bottom: 0;width: 50px;}

.eye-right {
  right: 0;
  top: 0;
  bottom: 0;
  width: 50px;
}



.delete-ui {
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  pointer-events: none;
  transform-origin: center center;
  transition:all 600ms cubic-bezier(0.77, 0, 0.175, 1);
  will-change:transform;
  opacity:0;
}

.screen.show-delete-ui .delete-ui {
  opacity:1;
}

.delete-zone {
  position:absolute;
  width:250px;
  height:250px;
}

.delete-zone-topleft {
  top:0;
  left:0;
  background:radial-gradient(ellipse at bottom right, transparent,transparent,transparent, #a52a2a);
}

.delete-zone-topright {
  top:0;
  right:0;
  background:radial-gradient(ellipse at bottom left, transparent,transparent,transparent, #a52a2a);
}

.delete-zone-bottomleft {
  bottom:0;
  left:0;
  background:radial-gradient(ellipse at top right, transparent,transparent,transparent, #a52a2a);
}

.delete-zone-bottomright {
  bottom:0;
  right:0;
  background:radial-gradient(ellipse at top left, transparent,transparent,transparent, #a52a2a);
}



.layer {
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  pointer-events: none;
  transform-origin: center center;
  transition:all 600ms cubic-bezier(0.77, 0, 0.175, 1);
  will-change:transform;
}

.layer > * {
  pointer-events: all;
}

/* .layer--word {
  transform:scale(0);
} */

.layer--word {
  z-index:25;
}

.layer--interest {
  z-index:50;
}

.layer--content {
  z-index:75;
}

.screen[data-view="interest"] .layer--interest {
  transform:scale(1.5);
}

.screen[data-view="interest"] .layer--topic {
  transform:scale(0);
  opacity:0;
}

.screen[data-view="word"] .layer--interest {
  opacity:.2;
  pointer-events: none;
  z-index:20;
}

.screen[data-view="word"] .layer--interest .bubble--interest {
  pointer-events: none;
}

.screen[data-view="word"] .layer--topic {
  transform:scale(0);
}

.screen[data-view="word"] .bubble--word.related {
  pointer-events: all;
}

.screen[data-view="word"] .bubble--word:not(.current) {
  opacity:.2;
}

.screen[data-view="word"] .bubble--word:not(.current) .bubble-scale {
  transform:scale(0.5);
}

.screen[data-view="word"] .bubble--word.current {
  opacity:1;
}

.screen[data-view="word"] .bubble--word.current .bubble-scale {
  transform:scale(1);
}

/* .screen[data-view="interest"] .layer--word {
  transform:scale(1);
} */

.bubble {
  position:absolute;
  width:300px;
  height:300px;
  margin:-150px;
  padding:30px;
  transform:translate(960px, 540px);
  transition:all 600ms cubic-bezier(0.77, 0, 0.175, 1);
}

.bubble-container {
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  transition:all 600ms cubic-bezier(0.77, 0, 0.175, 1);
}

.bubble-scale {
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  transform:scale(0);
  display: flex;
  justify-content: center;
  align-items: center;
  transition:all 600ms cubic-bezier(0.77, 0, 0.175, 1);
}

.bubble.exists .bubble-scale {
  transform:scale(1);
}

.bubble-background {
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  border-radius:3000px;
}

.bubble-inner {
  position:absolute;
  text-align:center;
  font-family:sans-serif;
  letter-spacing:1px;
  font-size:24px;
  z-index:100;
  padding:20px;
  transition:all 600ms cubic-bezier(0.77, 0, 0.175, 1);
  /* transition:all 1000ms ease; */
}
/*
.screen[data-eye-side="top"] .bubble-inner {
  transform: rotate(180deg);
}

.screen[data-eye-side="bottom"] .bubble-inner {
  transform: rotate(0deg);
}

.screen[data-eye-side="left"] .bubble-inner {
  transform: rotate(90deg);
}

.screen[data-eye-side="right"] .bubble-inner {
  transform: rotate(-90deg);
}
*/




/* TOPIC */

.bubble--topic {
  transform:translate(960px, 540px);
}

.bubble--topic .bubble-background {
  /* background:#006e8c; */
}

.bubble--topic .bubble-inner {
  text-transform:uppercase;
  color:white;
  font-size:32px;
}


/* INTEREST */

.bubble--interest {
  z-index:50;
}

.bubble--interest .bubble-background {
  background:#50e6c8;
  /* background:url(/img/interest2.svg) no-repeat center center / 100% auto; */
  z-index:10;
}

.bubble--interest .bubble-background-layer {
  display:block;
  top:0;
  left:0;
  bottom:0;
  right:0;
  position:absolute;
  margin:-20px;
  z-index:1;
  animation:rotate 23s linear infinite;
}

.bubble--interest .bubble-background-layer-1 {
  background:url(/img/interest1.svg) no-repeat center center / 100% auto;
  animation:rotate 26s linear reverse infinite;
}

.bubble--interest .bubble-background-layer-2 {
  background:url(/img/interest2.svg) no-repeat center center / 100% auto;
}

.screen[data-view="interest"] .bubble--interest.current,
.screen[data-view="word"] .bubble--interest.current {
  transform:translate(960px, 540px) !important;
}

.screen[data-view="interest"] .bubble--interest.current .bubble-scale {
  transform:scale(1) !important;
}

.screen[data-view="interest"] .bubble--interest:not(.current) {
  opacity:0;
  transform:scale(2);
}

.screen[data-view="interest"] .bubble--interest:not(.current) .bubble-container {

}

.bubble--interest .bubble-inner {
  color:white;
}


/* WORD */

.bubble--word {
  transition:all 600ms cubic-bezier(0.77, 0, 0.175, 1);
  opacity:0;
  pointer-events: none;
  width:200px;
  height:200px;
  margin:-100px;
  padding:30px;
  z-index:25;
}

.bubble--word.no-transition {
  transition:opacity 600ms cubic-bezier(0.77, 0, 0.175, 1);
}

.bubble--word.no-transition .bubble-inner {
  transition:none;
}

.bubble--word .bubble-scale {
  transform:scale(0);
}

.bubble--word.exists .bubble-scale {
  transform:scale(0.5);
}

.bubble--word.no-transition .bubble-scale {
  transition:none;
}

.bubble--word .bubble-inner {
  color:white;
}

.bubble--word.waiting-for-show {
  transform:scale(0) translate(960px, 520px) !important;
}

.bubble--word .bubble-background {
  background:#50e6c8;
  /* background:url(/img/interest2.svg) no-repeat center center / 100% auto; */
  z-index:10;
  transform:scale(.3);
  margin:-200px;
  transition:all 600ms cubic-bezier(0.77, 0, 0.175, 1);
}

.bubble--word .bubble-background-layer-wrapper {
  display:block;
  top:0;
  left:0;
  bottom:0;
  right:0;
  position:absolute;
  margin:0px;
  z-index:1;
  transition:all 600ms cubic-bezier(0.77, 0, 0.175, 1);
}

.bubble--word .bubble-background-layer {
  display:block;
  top:0;
  left:0;
  bottom:0;
  right:0;
  position:absolute;
  margin:0px;
  z-index:1;
  animation:rotate 23s linear infinite;
}

.bubble--word .bubble-background-layer-1 {
  background:url(/img/word2.svg) no-repeat center center / 95% auto;
  animation:rotate 20s linear reverse infinite;
  margin:-40px;
}

.bubble--word .bubble-background-layer-2 {
  background:url(/img/word1.svg) no-repeat center center / 95% auto;
  animation:rotate 26s linear reverse infinite;
}


.bubble--word.deletable {
  opacity:.5 !important;
}

.bubble--word.deletable .bubble-scale {
  transform:scale(.5) !important;
  transition:all 300ms ease;
}



.bubble--word.deleted,
.bubble--content.deleted {
  opacity:0 !important;
  pointer-events: none;
  transition:all 600ms cubic-bezier(0.77, 0, 0.175, 1);
}

.bubble--word.deleted .bubble-scale,
.bubble--content.deleted .bubble-scale {
  transform:scale(0) !important;
  transition:all 600ms cubic-bezier(0.77, 0, 0.175, 1);
}


.screen[data-view="interest"] .bubble--word.related {
  opacity:1;
  pointer-events: all;
}

.screen[data-view="interest"] .bubble--word:not(.related) {
  opacity:0;
}

.screen[data-view="interest"] .bubble--word.related .bubble-scale {
  transform:scale(1);
}

.screen[data-view="interest"] .bubble--word:not(.related) .bubble-scale {
  transform:scale(0);
}

.screen[data-view="word"] .bubble--word.current .bubble-background-layer-wrapper-2 {
  transform:scale(.4);
}

.screen[data-view="word"] .bubble--word.current .bubble-background  {
  transform:scale(1);
}



/* CONTENT */

.bubble--content {
  transition:all 600ms cubic-bezier(0.77, 0, 0.175, 1);
  opacity:0;
  pointer-events: none;
  width:200px;
  height:200px;
  margin:-100px;
  padding:30px;
  z-index:100;
}

.bubble--content.no-transition {
  transition:opacity 600ms cubic-bezier(0.77, 0, 0.175, 1);
}

.bubble--content .bubble-background {
  background:#50e6c8;
  /* background:url(/img/interest2.svg) no-repeat center center / 100% auto; */
  z-index:10;
}

.bubble--content .bubble-scale {
  transition:all 300ms ease;
}

.bubble--content.related .bubble-scale  {
  transition:all 600ms cubic-bezier(0.77, 0, 0.175, 1);
}

.bubble--content.exists .bubble-scale {
  transform:scale(0);
}

.bubble--content .bubble-thumbnail {
  background-size:cover;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  border:solid 10px #4fe7c8;
  border-radius:1000px;
  z-index:20;
  transition:all 600ms cubic-bezier(0.77, 0, 0.175, 1);
}

.bubble--content .bubble-thumbnail-label {
  position:absolute;
  top: 80%;
  width:100%;
  background: #2d3b5a;
  text-align:center;
  font-size: 22px;
  color: #c3c8e0;
  z-index:20;
  font-family:  sans-serif;
  padding: 10px;
  border-radius: 20px;
  transition:all 600ms cubic-bezier(0.77, 0, 0.175, 1);
}

.bubble--content.current {
  transform:translate(960px, 540px) !important;
  z-index:200;
}

.bubble--content.current .bubble-scale {
  transform:scale(8) !important;
}

.bubble--content.current .bubble-thumbnail-label {
  transform:scale(0);
  opacity:0;
}

.screen[data-view="word"] .bubble--content.related {
  opacity:1;
  pointer-events: all;
}

.screen[data-view="word"] .bubble--content.related .bubble-scale {
  transform:scale(1);
}








@keyframes rotate {
  0% { transform:rotate(0deg); }
  100% { transform:rotate(360deg); }
}

@keyframes rotate-small {
  0% { transform:rotate(0deg) scale(.4); }
  100% { transform:rotate(360deg) scale(.4); }
}
