<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>EDDIA</title>
  <link rel='stylesheet' href='/css/style-html.css'>
</head>
<body>
  <div class="screen">
    <div class="screen-background"></div>

    <div class="layer layer--topic"></div>
    <div class="layer layer--interest"></div>
    <div class="layer layer--words"></div>

  </div>
  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script src="/socket.io/socket.io.js"></script>
  <!-- <script src="/js/jquery.easing.1.3.js"></script> -->
  <script src="/js/app-html.js"></script>
</body>
</html>
