<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>EDDIA</title>
</head>
<body>
  <a href="#" target="_blank" id="link_app">Open app</a>
  <div id="add_bubble">
     <select id="parent_bubble"></select>
     <input id="name" type="text" placeholder="Nom de la bulle">
     <input id="size" type="number" placeholder="Taille de la bulle">
     <input type="button" onclick="add_bubble()" value="Ajouter une bulle">
  </div>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/manager.js"></script>
</body>
</html>
