<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>EDDIA</title>
</head>
<body>
  <a href="#" target="_blank" id="link_app">Open app</a>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/manager.js"></script>
</body>
</html>
