<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>EDDIA</title>
</head>
<body>
  <a href="#" target="_blank" id="link_app">Open app</a>
  <div id="add_word">
     <h2>Bulle</h2>
     <select id="word_interest"></select>
     <input id="word_name" type="text" placeholder="Nom de la bulle">
     <input id="word_size" type="number" placeholder="Taille de la bulle">
     <input type="button" onclick="add_word()" value="Ajouter une bulle">
  </div>
  <div>
     <h2>Categorie</h2>
     <input id="interest_name" type="text" placeholder="Nom de la categorie">
     <input type="button" onclick="add_interest()" value="Ajouter une categorie">
  </div>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/manager.js"></script>
</body>
</html>
